/**
 * Root font size
 * Browser default is usually 16px
 * You should ensure that:
 * html = 16px
 * body = 1rem
 * If using a component system check this is same
 */
$root-font-size: 16px;

/**
 * Breakpoints
 * Mobile first approach is to layout classes for mobile first
 * Then incrementally add features for larger devices
 * Concept is smaller devices do not need to handle additional code
 * Therefore it is expected most media queries will be for greater than breakpoint
 * IMPORTANT:
 * Primarily use sm/md/lg these should actually cover most design cases
 * Then use xs/xl sparingly for extremes
 * Generally expect that most sm works for xs, and most lg works for xl
 * E.g. xl might limit site width to prevent over spacing
 *
 * Note:
 * Breakpoints are not specific screen resolutions
 * They aim to group approx devices
 */
$breakpoint-xs: 400px; // < sml mobile
$breakpoint-sm: 600px; // < mobile | > tablet
$breakpoint-md: 900px; // < tablet | > laptop
$breakpoint-lg: 1200px; // < laptop | > desktop
$breakpoint-xl: 1500px; // > lrg desktop

// spacing
$spacing: 8px;
$spacing2: 16px;
$spacing3: 24px;
$spacing4: 32px;
