/* fonts */
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";
@import "@fontsource/material-icons/index.css";

/* custom mui/tailwind */
@import "./muiTailwind.css";

/*
fix 
- scroll on mobile (judder and pull refresh)
- relative position/height for child elements
*/
html,
body {
  height: 100%;
  overflow-y: auto;
}

/*
fix
- relative position/height for child elements
*/
#root {
  height: 100%;
}
