.themeControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  .themeSelector {
    width: 240px;
  }

  .themeButtons {
    margin-top: 4px;
    margin-right: 8px;
  }
}
