/* custom mui/tailwind */
@import "./muiTailwind.css";

/* height fix and remove default overflow scroll */
html,
body {
  height: 100%;
  overflow: hidden;
}

/* height fix and add overflow scroll where we want it */
#root {
  height: 100%;
  overflow: auto;
}
